/* Reset CSS */

* {
    margin: 0;
    padding: 0;
    font-family: Arial;
    text-align: justify;
    box-sizing: border-box;
  }
  
  body {
    font-size: 14px;
  }
  
  article {
    background-color: #000;
  }
  
  section {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    font-size: 24px;
  }
  
  h1 {
    text-align: center;
    font-size: 30px;
  }
  
  h2 {
    text-align: center;
    font-size: 30px;
  }
  
  img {
    width: 500px;
    margin: 0 auto;
    display: block;
  }
  
  iframe {
    width: 500px;
    margin: 0 auto;
    display: block;
  }

  a {
    color: yellow;
  }
  
  .btn {
    background: #000;
    border-radius: 6px;
    padding: 15px;
    cursor: pointer;
    color: #fff;
    border: none;
    font-size: 16px;
  }
  
  /* Header */
  
  .acessibilidade {
    background-color: #000;
    padding-top: 13px;
    padding-bottom: 13px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    user-select: none;
    font-size: medium;
  }
  
  .label-1 {
    color: #fff;
    font-size: 15px;
  }
  
  #white-style {
    text-align: center;
    color: #fff;
    background-color: #000;
    border-color: #fff;
    border-radius: 50%;
    border-width: 1px;
    height: 20px;
    width: 20px;
  }
  
  #black-style {
    margin-right: 40px;
    text-align: center;
    background-color: #000;
    border-color: #fff;
    border-radius: 50%;
    border-width: 1px;
    height: 20px;
    width: 20px;
  }
  
  #increase-font {
    text-align: center;
    font-size: 12px;
    border-radius: 50%;
    border-width: 1px;
    height: 25px;
    width: 25px;
  }
  
  #decrease-font {
    text-align: center;
    font-size: 12px;
    border-radius: 50%;
    border-width: 1px;
    height: 25px;
    width: 25px;
  }
  
  #logo {
    z-index: 1;
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
  }
  
  #logo a:hover {
    color: #fff;
    text-decoration: none;
  }
  
  .nav-list a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
  }
  
  .nav-list a:hover {
    opacity: 0.7;
  }
  
  #nav-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    background: #000;
    height: 8vh;
  }
  
  .nav-list {
    list-style: none;
    display: flex;
  }
  
  .nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
  }
  
  .mobile-menu {
    z-index: 1;
  }
  
  
  /* Main */
  h1 {
    padding: 10px;
    color: #fff;
    user-select: none;
  }
  
  h2 {
    padding: 10px;
    color: #fff;
    user-select: none;
  }
  
  h3 {
    padding: 10px;
    color: #fff;
    user-select: none;
  }
  
  p {
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
  }
  
  dd {
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
  }
  
  
  /* rodapé */
  
  #footer {
    background-color: #000;
    padding: 20px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    color: #fff;
  }
  
  
  /* responsividade */
  .mobile-menu {
    display: none;
    cursor: pointer;
  }
  
  .mobile-menu div {
    width: 32px;
    height: 2px;
    background: #000;
    margin: 8px;
    transition: 0.3s;
  }
  
  @media (max-width: 999px) {
  
    .nav-list {
      position: absolute;
      top: 8vh;
      right: 0;
      width: 50vw;
      height: 100%;
      background: #000;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      transform: translateX(100%);
      transition: transform 0.3s ease-in;
    }
  
    .nav-list li {
      margin-left: 0;
      opacity: 0;
    }
  
    .mobile-menu {
      display: block;
    }
  }
  
  .nav-list.active {
    transform: translateX(0);
  }
  
  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
  
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
  }
  
  .mobile-menu.active .line2 {
    opacity: 0;
  }
  
  .mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
  }
  
  /* Cadastro e Login */

  textarea:focus,
  input:focus {
    outline: none;
    z-index: -1;
  }
  
  #voltar {
    margin-top: 1%;
    margin-left: 1%;
    width: 100px;
  }
  
  a {
    font-size: .8rem;
  }
  
  a:hover {
    color: #fff;
  }
  
  /* login-container */
  #login-container {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 30px;
    margin-top: 70px;
    border-radius: 10px;
    text-align: center;
    background: #000;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
  }
  
  /*formulário*/
  
  form {
    margin-top: 30px;
    margin-bottom: 40px;
  }
  
  input {
    display: block;
    width: 100%;
    text-align: left;
    border: none;
    background-color: #000;
    padding: 10px;
    font-size: 1rem;
    margin-bottom: 20px;
    border-radius: 10px;
  }
  
  input:focus {
    border-bottom: 2px solid #323232;
  }
  
  input[type="submit"] {
    text-align: center;
    font-weight: bold;
    border: none;
    height: 40px;
    border-radius: 10px;
    color: #fff;
    background-color: #000;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #000;
    transition: .5s;
    cursor: pointer;
  }
  
  #esqueceuasenha {
    font-weight: bold;
    font-size: 1rem;
    border: none;
    border-bottom: #323232;
  }
  
  
  #cadastre-se {
    text-align: right;
    font-weight: bold;
    font-size: 1rem;
  }
  
  
  #naopossuiconta {
    display: flex;
    justify-content: space-between;
  }
  
  
  
  
  /* Quiz */
  
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
  
  /* vermelho #f44336 ou #d50000 verde #4caf50 ou #1b5e20  */
  :root {
      --principal: #03a9f4;
      --secundaria: #21629E;
      --azul-escuro: #0d47a1;
      --cinza-escuro: #222;
      --branco: #fff;
      --verde: #4caf50;
      --vermelho: #f44336;
  }
  
  main {
      width: 100%;
      height: 100vh;
  }
  
  section {
      width: 100vw;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }
  
  h1 {
      text-align: center;
      font-size: 1.75rem;
      margin: 0.5rem 0 0 0;
  }
  
  /* classe para centralizar textos, paragrafos */
  .centro {
      text-align: center;
  }
  
  /* div class questao com numero da questao e pergunta */
  .questao {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 1rem;
  }
  
  #numQuestao {
      text-align: center;
      width: 2rem;
      height: 2rem;
      display: block;
      background: #000;
      color: #fff;
      padding: 6px 10px 4px 8px;
      border-radius: 50%;
  }
  
  #pergunta {
      margin-left: 1rem;
  }
  
  .imagemDaQuestao {
      display: flex;
      justify-content: center;
      align-items: center;
  }
  
  /* article que acomoda a questao completa */
  .questoes {
      user-select: none;
      background: #000;
  
      padding: 1.5rem 1.5rem 1rem 1.5rem;
      border: 1px solid #ececec;
      border-radius: 5px;
      margin-bottom: 0.625rem;
  }
  
  .questoes ol li {
      border: 1px solid var(--secundaria);
      display: block;
      margin-bottom: 0.625rem;
      padding: 1rem;
      border-radius: 8px;
  }
  
  .questoes ol li:hover {
      background: #000;
      cursor: pointer;
  }
  
  .bloqueado {
      display: none;
  }
  
  .bloqueado li:hover {
      display: none;
  }
  
  #instrucoes {
      font-size: 1rem;
      color: #fff;
      padding: 0.625rem;
      border-radius: 8px;
  
      display: flex;
      justify-content: center;
  }
  
  #aviso {
      color: #fff;
  }
  
  #autoria {
      margin-top: 0.625rem;
      font-size: 0.75rem;
  }
  
  /* ANIMACAO */
  
  /* Animar o input */
  @keyframes piscar {
      0% {
          filter: drop-shadow(0 0 15px var(--principal));
          -webkit-filter: drop-shadow(0 0 15px var(--principal));
          -moz-filter: drop-shadow(0 0 15px var(--principal));
          -o-filter: drop-shadow(0 0 15px var(--principal));
          -ms-filter: drop-shadow(0 0 15px var(--principal));
      }
      100% {
      }
  }
  
  .animar {
      animation: piscar .75s infinite alternate;
  }
  
  .aparecer {
      animation: aparecer .5s infinite alternate;
  }
  
  @keyframes aparecer {
      0% {
          opacity: 0;
      }
      50% {
          opacity: 0.5;
      }
      100% {
          opacity: 1;
      }
  }
  
  .acertou {
      background: var(--verde);
      animation: aparecer 0.1s infinite alternate;
  }
  
  .errou {
      background: var(--vermelho);
      animation: aparecer 0.1s infinite alternate;
  }
  
  .placar {
      padding: 1rem;
      border-radius: 8px;
      background:#000;
      font-size: 2rem;
  }
  .fim{
      display: none;
      background-color: #000;
      color: #fff;
      margin-bottom: 0.625rem;
      margin-left: 28px;
      padding: 1rem;
      border-radius: 8px;
      cursor: pointer;
      border:none;
  }
  .voltar{
      background-color: #000;
      color: #fff;
      margin-bottom: 0.625rem;
      padding: 1rem;
      border-radius: 8px;
      cursor: pointer;
      border:none;
  }