@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');
/* Font */
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');


/* Cores */
:root {
  --principal: #03a9f4;
  --secundaria: #21629E;
  --azul-escuro: #0d47a1;
  --cinza-escuro: #222;
  --branco: #fff;
  --preto: #000;
  --verde: #4caf50;
  --vermelho: #f44336;
}

/* Reset CSS */
html{
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

body {
  font-size: 14px;
  color: #fff;
  background-color: #000;
  overflow-x: hidden;
}

main{
  height: 100vh;
  width: 100vw;
}

article {
  background-color: #000;
}


#logo img{
  width: 60px;
}


img {
  width: 500px;
  margin: 0 auto;
  display: block;
}

.imagemDaQuestao img{
  width: 250px;
}

iframe {
  width: 500px;
  margin: 0 auto;
  display: block;
}

.btn {
  background-color: #000;
  color: yellow;
  border: 1px solid yellow;
  border-radius: 6px;
  padding: 25px;
  cursor: pointer;
  text-decoration: none;
  font-size: 16px;
  margin-top: 55px;
  }

.btn:hover{
  background-color: yellow;
  color: #000;

}




/* Header */

.acessibilidade {
  top: 0;
  position: fixed;
  background-color: #000;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  user-select: none;
  width: 100vw;
  height: 50px;
  z-index: 1;
  color: #FFF;
}

.acessibilidade a {
  font-size: 16px;
  color: yellow;
}

.acessibilidade a:hover {
  color: #000;
  background-color: yellow;
}

.label-1 {
  color: #fff;
  font-size: 16px;
}

#semcontraste {
  text-align: center;
  border: 1px solid yellow;
  color: #fff;
  background-color: #fff;
  border-radius: 50%;
  border-width: 1px;
  height: 20px;
  width: 20px;
  cursor: pointer;
}

#contraste {
  border: 1px solid yellow;
  text-align: center;
  background-color: #000;
  border-radius: 50%;
  border-width: 1px;
  height: 20px;
  width: 20px;
  cursor: pointer;
}

#increase-font {
  background-color: #000;
  color: yellow;
  border: 1px solid yellow;
  cursor: pointer;
  text-align: center;
  font-size: 12px;
  border-radius: 50%;
  border-width: 1px;
  height: 25px;
  width: 25px;
}

#decrease-font {
  background-color: #000;
  color: yellow;
  border: 1px solid yellow;
  cursor: pointer;
  text-align: center;
  font-size: 12px;
  border-radius: 50%;
  border-width: 1px;
  height: 25px;
  width: 25px;
}

#logo {
  z-index: 1;
  color: #fff;
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-decoration: none;
}





/* navbar */

#logo a:hover {
  color: #fff;
  text-decoration: none;
}

.nav-list a {
  color: yellow;
  text-decoration: none;
  transition: 0.3s;
}



.nav-list a:hover {
  background-color: yellow;
  color: #000;
}

#nav-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  background: #000;
  border: 1px solid #fff;
  height: 12vh;
  top: 50px;
  position: fixed;
  width: 100vw;
  z-index: 1;
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list li {
  letter-spacing: 3px;
  margin-left: 32px;
}

.mobile-menu {
  color: #FFF;
  z-index: 1;
}





/* Home */

#home-content section {
  height: 100vh;
  padding: 2vw;
  font-size: 4vw;
  color: #FFF;
}

#home-content h1 {
  font-size: 6vw;
}

#home-content h3{
  font-size: 3vw;
}

#home-content p {
  text-align: center;
  font-size: 2vw;
}

#home-content section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#home-content section:first-of-type {
  text-transform: uppercase;
  font-size: 7vw;
}

#home-content section {
  background-size: cover;
  background-repeat: no-repeat;
}

#home-content section:nth-of-type(odd) {
  color: #fff;
  background-color: #000;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}

#home-content section:nth-child(1) {
  background-image: url(../img/home/3.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  
}

#home-content section:nth-child(3) {
  background-image: url(../img/home/4.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

#home-content section:nth-child(5) {
  background-image: url(../img/home/5.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;       
}


/* Acessibilidade */

#acessibilidade-content {
  position: relative;
  top: 110px;
  left: 10px;
  right: 10px;
}


/* Fale conosco */

#section-fale-conosco{
  margin-top: 40px;
  padding-bottom: 40px;
}

#form-fale-conosco input{
  display: block;
  width: 100%;
  text-align: left;
  background-color: #000;
  padding: 10px;
  font-size: 1rem;
  margin-bottom: 20px;
  border-radius: 10px;
}

#wrapper{
  justify-content: center;
  align-items: center;
  margin-left: 40px;
}



/* Sobre nós */

#main-sobre-nos{
  margin-top: 30px;
  padding-bottom: 30px;
}


.cards_sobre {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.cards_item_sobre{

  display: flex;
  padding: 1rem;
}

.card-image-sobre-nos img {
  border: 1px solid #FFF;
  height: auto;
  width: 200px;
  border-radius: 50%;
  max-width: 100%;
  vertical-align: middle;
}

.card_content a img{
  width: auto;
}



/* Dashboard */
/* Dashboard Esquerda */

.fa-2x {
  font-size: 2em;
  }
  .fa {
  position: relative;
  display: table-cell;
  width: 33px;
  height: 30px;
  text-align: center;
  vertical-align: middle;
  font-size:20px;
  margin-right: 20px;
  }
  
  
  .main-menu:hover,nav.main-menu.expanded {
  width:250px;
  overflow:visible;
  
  }
  
  .main-menu {
  background: #000;
  border-right:1px solid #e5e5e5;
  position:fixed;
  top:0;
  bottom:0;
  height:100%;
  left:0;
  width:60px;
  overflow:hidden;
  -webkit-transition:width .05s linear;
  transition:width .05s linear;
  -webkit-transform:translateZ(0) scale(1,1);
  z-index:1000;
  }
  
  .main-menu>ul {
  margin:7px 0;
  }
  
  .main-menu li {
  position:relative;
  display:block;
  width:250px;
  }
  
  .main-menu li > a {
  position:relative;
  left: 15px;
  display:table;
  border-collapse:collapse;
  border-spacing:0;
  color: var(--branco);
   font-family: arial;
  font-size: 14px;
  text-decoration:none;
  -webkit-transform:translateZ(0) scale(1,1);
  -webkit-transition:all .1s linear;
  transition:all .1s linear;
    
  }
  
  .main-menu .nav-icon {
  position:relative;
  display:table-cell;
  width:60px;
  height:36px;
  text-align:center;
  vertical-align:middle;
  font-size:18px;
  }
  
  .main-menu .nav-text {
  position:relative;
  left: 50px;
  display:table-cell;
  vertical-align:middle;
  width:190px;
    font-family: 'Titillium Web', sans-serif;
  }
  
  .main-menu>ul.logout {
  position:absolute;
  left:0;
  bottom:0;
  }
  
  .no-touch .scrollable.hover {
  overflow-y:hidden;
  }
  
  .no-touch .scrollable.hover:hover {
  overflow-y:auto;
  overflow:visible;
  }
  
  a:hover,a:focus {
  text-decoration:none;
  }
  
  nav {
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  -o-user-select:none;
  user-select:none;
  }
  
  nav ul,nav li {
  outline:0;
  margin:0;
  padding:0;
  }
  .main-menu li:hover>a,nav.main-menu li.active>a,.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus,.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,.dashboard-page nav.dashboard-menu ul li.active a {
  color:#fff;
  background-color:#000;
  }
  .area {
  float: left;
  background: #000;
  width: 100%;
  height: 100%;
  }
  @font-face {
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 300;
    src: local('Titillium WebLight'), local('TitilliumWeb-Light'), url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v2/anMUvcNT0H1YN4FII8wpr24bNCNEoFTpS2BTjF6FB5E.woff) format('woff');
  }
  
  
  /* Dashboard Centro */




/* Design */
*,
*::before,
*::after {
  box-sizing: border-box;
}

.main-dashboard{
  position: relative;
  top: 20px;
  max-width: 100vw;
  margin: 100px 45px auto 61px;
}

.title-dashboard{
  text-align: center;
}

.card-image img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.btn_dashboard {
  text-align: center;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: 400;
  display: block;
  width: 100%;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: #000;
}

.btn_dashboard:hover {
  background-color: #000;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards_item {
  display: flex;
  padding: 1rem;
}

@media (min-width: 40rem) {
  .cards_item {
    width: 50%;
    }
}

@media (min-width: 56rem) {
  .cards_item {
    width: 33.3333%;
  }
}

.card {
  background-color: #000;
  border: 1px solid #FFF;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.card_content {
  padding: 1rem;
  background: #000;
}

.card_title {
  color: #FFF;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0px;
}

.card_text {
  color: #FFF;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;    
  font-weight: 400;
}


/* === FOOTER === */

footer{
  width: 100vw;
  text-align: center;
  align-items: center;
  background-color: #000;
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  z-index: 1;
  margin-top: 90px;

}

footer h3{
    color: #fff;
    padding-bottom: 10px;
    font-weight: 400;
    font-size: 20px;
}

.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.socials li{
    margin: 0 10px;
}

.socials a{
    text-decoration: none;
    color: yellow;
    font-size: 16px; 
    padding: 5px;
    border-radius: 50%;
}

.socials a li{
    font-size: 1.1rem;
    width: 20px;
    transition: color .4s ease;
}

.socials a:hover{
  background-color: yellow;
  color: #000;
}

#git-icon {
 /*  background-color: #FFF; */
  width: 100px;
  filter: invert(100%);
}





/* responsividade */
.mobile-menu {
  display: none;
  cursor: pointer;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background: #FFF;
  margin: 8px;
  transition: 0.3s;
}

@media (max-width: 900px) {
  body {
    overflow-x: hidden;
  }

  .nav-list {
    position: absolute;
    top: 8vh;
    right: 0;
    width: 50vw;
    height: 100vh;
    background: #000;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
  }

  .nav-list a {
    font-size: 16px;
  }

 

  .nav-list li {
    margin-left: 0;
    opacity: 0;
  }

  .mobile-menu {
    display: block;
  }
}
@media (max-width: 500px){
    
  .nav-list {
    width: 100vw;
  }

}
.nav-list.active {
  transform: translateX(0);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.mobile-menu.active .line1 {
  background-color: #FFF;
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  background-color: #FFF;
}

.mobile-menu.active .line3 {
  background-color: #FFF;
  transform: rotate(45deg) translate(-5px, -7px);
}


/* Cadastro e Login */

.ocean { 
  height: 200px;
  width:100%;
	overflow: hidden;
	position: absolute;
	bottom: 0;
	left: 0;
  z-index: -1;
}

.ocean.v01 .wave {
	background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg) repeat-x; 
  z-index: -1;
}

.ocean.v01 {
	transform: rotate(180deg);
	position: absolute;
	top: 0;
	left: 0;
  z-index: -1;
}

.wave {
  display: none;
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg) repeat-x; 
  position: absolute;
  bottom: -25px;
  width: 6400px;
  height: 100%;
  animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
  transform: translate3d(0, 0, 0);
  z-index: -1;
}

.wave:nth-of-type(2) {
  bottom: -25px;
  animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 7s ease -1.25s infinite;
  opacity: 1;
}

@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}

@keyframes swell {
  0%, 100% {
    transform: translateY(-25px);
  }
  50% {
    transform: translateY(5px);
  }
}


textarea:focus,
input:focus {
  outline: none;
  z-index: -1;
}

#voltar {
  margin-top: 1%;
  margin-left: 1%;
  width: 100px;
}

a {
  font-size: 16px;
}

a:hover {
  background-color: rgba(0, 0, 0, 0);
  color: #000;
}

#login-container {
  width: 70vw;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 30px;
  margin-top: 60px;
  border-radius: 10px;
  text-align: center;
  background: #000;
  border-radius: 10px;
  border: 1px solid #FFF;
}

/*formulário*/

form {
  margin-top: 30px;
  margin-bottom: 40px;
}

input {
  display: block;
  width: 100%;
  text-align: left;
  background-color: #000;
  color: #FFF;
  border: 1px solid #FFF;
  padding: 10px;
  font-size: 1rem;
  margin-bottom: 20px;
  border-radius: 10px;
}

input::placeholder{
  color: #FFF;
}

input:focus {
  border-bottom: 2px solid #FFF;
}





input[type="submit"] {
  background: #000;
  border-radius: 6px;
  border: 1px solid #FFF;
  height: 30%;
  cursor: pointer;
  color: yellow;
  font-size: 16px;
  margin-top: 30px;
  margin-bottom: 19px;
}

input[type="submit"]:hover {
  background-color: yellow;
  color: #000;
}

#esqueceuasenha {
  font-weight: bold;
  font-size: 1rem;
  border: none;
  border-bottom: #323232;
}


#cadastre-se {
  text-align: right;
  font-weight: bold;
  font-size: 1rem;
}


#naopossuiconta {
  display: flex;
  justify-content: space-between;
}

#naopossuiconta a{
  color: yellow;
}







/* Quiz */



section {
  top: 6rem;
  position: relative;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #000;
}

/* classe para centralizar textos, paragrafos */
.centro {
  text-align: center;
}

/* div class questao com numero da questao e pergunta */
.questao {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

#numQuestao {
  text-align: center;
  width: 2rem;
  height: 2rem;
  display: block;
  background: #000;
  color: #fff;
  border: 1px solid #FFF;
  padding: 6px 10px 4px 8px;
  border-radius: 50%;
}

#pergunta {
  color: #FFF;
  margin-left: 1rem;
}

.imagemDaQuestao {
  display: flex;
  justify-content: center;
  align-items: center;
}

.imagemDaPergunta {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* article que acomoda a questao completa */
.questoes {
  user-select: none;
  background: #000;
  color: #FFF;
  padding: 1.5rem 1.5rem 1rem 1.5rem;
  border: 1px solid #ececec;
  border-radius: 5px;
  margin-bottom: 0.625rem;
}

.questoes ol li {
  background-color: #000;
  border: 1px solid yellow;
  color: yellow;
  display: block;
  margin-bottom: 0.625rem;
  padding: 1rem;
  border-radius: 8px;
}

.questoes ol li:hover {
  background: yellow;
  color: #000;
  cursor: pointer;
}

.bloqueado {
  display: none;
}

.bloqueado li:hover {
  display: none;
}

#instrucoes {
  font-size: 1rem;
  color: #191919;
  padding: 0.625rem;
  border-radius: 8px;

  display: flex;
  justify-content: center;
}

#aviso {
  color: var(--secundaria);
}

#autoria {
  margin-top: 0.625rem;
  font-size: 0.75rem;
}

/* ANIMACAO */

/* Animar o input */
@keyframes piscar {
  0% {
    filter: drop-shadow(0 0 15px var(--principal));
    -webkit-filter: drop-shadow(0 0 15px var(--principal));
    -moz-filter: drop-shadow(0 0 15px var(--principal));
    -o-filter: drop-shadow(0 0 15px var(--principal));
    -ms-filter: drop-shadow(0 0 15px var(--principal));
  }

  100% {}
}

.animar {
  animation: piscar .75s infinite alternate;
}

.aparecer {
  animation: aparecer .5s infinite alternate;
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

.acertou {
  background: var(--verde);
  animation: aparecer 0.1s infinite alternate;
}

.errou {
  background: var(--vermelho);
  animation: aparecer 0.1s infinite alternate;
}

.placar {
  padding: 1rem;
  border-radius: 8px;
  background: #000;
  font-size: 2rem;
}

.fim {
  display: none;
  background-color: #000;
  color: var(--branco);
  margin-bottom: 0.625rem;
  margin-left: 28px;
  padding: 1rem;
  border-radius: 8px;
  cursor: pointer;
  border: none;
}

.voltar {
  background-color: #000;
  color: var(--branco);
  margin-bottom: 0.625rem;
  padding: 1rem;
  border-radius: 8px;
  cursor: pointer;
  border: none;
}

@media (max-width: 540px) {
  .videos {
    width: 300px;
    height: 200px;
  }

  .imagem {
    width: 300px;
    height: 300px;
  }
}



